.register__form-card {
    height: 470px;
    width: 350px;
    position: absolute;
    // margin: 20px 81px 25px 402px;
    top: 10%;
    left: 12%;
    // transform: translate(-50%,-50%);
    animation: moveInRight 1.5s ease-out;
    background-color: transparent;
 }