$color-cream-light-0: #efe9cc;
$color-cream-light-1: #f0dd92;
$color-cream-light : #f5de83;
$color-peach-light : #ffd6a0;
$color-peach-root: #f6cd90;
$color-peach-medium: #fdaf88;
$color-cream-dark-0: #deb881;
$color-cream-dark-1: #d6a45d;
$color-beige-dark-0: #f0dd92;
$color-beige-dark-0: #ded473;
$color-peach-dark-0: #ffa06f;



$color-white : #fff;
$color-black: #000;
$color-grey-dark : #777;
$color-grey-dark-2:#333;
$color-grey-dark-3:rgb(94, 94, 94);


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//grid:

$grid-width: 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal: 6rem;

//font size:

$default-font-size: 1.6rem