$color-pink-light-0: #fff1c5;
$color-pink-light-0: #e6b1b1;
$color-purple-light : #c38b8b;
$color-purple-medium: #b0757c;
$color-purple-dark-0: #9b5d73;
$color-purple-dark-1: #72354b;




$color-white : #fff;
$color-black: #000;
$color-grey-dark : #777;
$color-grey-dark-2:#333;
$color-grey-dark-3:rgb(94, 94, 94);
$color-alert: rgb(161, 10, 30);


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//grid:

$grid-width: 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal: 6rem;

//font size:

$default-font-size: 1.6rem