.section-budget {
    padding: 10rem;
    background-image: linear-gradient(to right bottom, $color-pink-light-0, $color-purple-dark-0);

    
}

.budget {
    background-image:linear-gradient(105deg, rgba($color-white, .8) 0%,
    rgba($color-white, .8) 50%,
     transparent 50%) ,
      url(../../assets/1.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
    height: 55rem;
    width: 100%;
    margin-top: 2rem;
    animation: moveInRight 1s ease-out;

    &__form {

        width: 50%;
        height: 30%;
        padding: 3rem;
    }
}