*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    //define what 1rem is 
    font-size: 62.5%;
    font-family: 'Courgette', cursive;
    font-family: 'Libre Baskerville', serif;
}

body {
    box-sizing:border-box;
    font-family: 'Courgette', cursive;
    font-family: 'Libre Baskerville', serif;

}